@model Download_Vouchery.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="card">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
    {
        @Html.AntiForgeryToken()
        <h2>Create a new account</h2>
        <hr/>
        @Html.ValidationSummary("", new {@class = "text-danger"})
        <div>
            @Html.LabelFor(m => m.Email)
            <div>
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            <div>
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <br/>
        <div>
            <div>
                <input type="submit" class="button" value="Register"/>
            </div>
        </div>
    }
</div>